[submodule "AP-Comp-Codes/AP_Comp_Encoder"]
	path = AP-Comp-Codes/AP_Comp_Encoder
	url = https://github.com/TheTerrarian03/AP_Comp_Encoder.git
[submodule "MinecraftProfileManager"]
	path = MinecraftProfileManager
	url = https://github.com/TheTerrarian03/MinecraftProfileManager.git
[submodule "SummationSolver"]
	path = RustProj/SummationSolver
	url = https://github.com/TheTerrarian03/SummationSolver.git
[submodule "RustProj/SummationSolver"]
	path = RustProj/SummationSolver
	url = https://github.com/TheTerrarian03/SummationSolver.git
[submodule "Robotics/Swerve2024Proto"]
	path = Robotics/Swerve2024Proto
	url = https://github.com/FIRST4513/Swerve2024Proto.git
[submodule "Robotics/Robot2023SwerveVer03"]
	path = Robotics/Robot2023SwerveVer03
	url = https://github.com/FIRST4513/Robot2023SwerveVer03.git
[submodule "Robotics/SpectrumTraining"]
	path = Robotics/SpectrumTraining
	url = https://github.com/Spectrum3847/SpectrumTraining.git
