[submodule "AP-Comp-Codes/AP_Comp_Encoder"]
	path = AP-Comp-Codes/AP_Comp_Encoder
	url = https://github.com/TheTerrarian03/AP_Comp_Encoder.git
[submodule "MinecraftProfileManager"]
	path = MinecraftProfileManager
	url = https://github.com/TheTerrarian03/MinecraftProfileManager.git
[submodule "SummationSolver"]
	path = RustProj/SummationSolver
	url = https://github.com/TheTerrarian03/SummationSolver.git
[submodule "RustProj/SummationSolver"]
	path = RustProj/SummationSolver
	url = https://github.com/TheTerrarian03/SummationSolver.git
[submodule "Robotics/Swerve2024Proto"]
	path = Robotics/Swerve2024Proto
	url = https://github.com/FIRST4513/Swerve2024Proto.git
[submodule "Robotics/Robot2023SwerveVer03"]
	path = Robotics/Robot2023SwerveVer03
	url = https://github.com/FIRST4513/Robot2023SwerveVer03.git
[submodule "Robotics/Kachow2024Ver01"]
	path = Robotics/Kachow2024Ver01
	url = https://github.com/FIRST4513/Kachow2024Ver01.git
[submodule "Robotics/Kachow2024Ver02"]
	path = Robotics/Kachow2024Ver02
	url = https://github.com/FIRST4513/Kachow2024Ver02.git
	branch = main
[submodule "Robotics/Kachow2024Ver03"]
	path = Robotics/Kachow2024Ver03
	url = https://github.com/FIRST4513/Kachow2024Ver03.git
[submodule "Robotics/Kachow2024Ver04"]
	path = Robotics/Kachow2024Ver04
	url = https://github.com/FIRST4513/Kachow2024Ver04.git
[submodule "Robotics/Spectrum2024"]
	path = Robotics/Spectrum2024
	url = https://github.com/Spectrum3847/2024-Ultraviolet.git
[submodule "Robotics/Spectrum_Ultraviolet_2024"]
	path = Robotics/Spectrum_Ultraviolet_2024
	url = https://github.com/Spectrum3847/2024-Ultraviolet.git
[submodule "Robotics/Kachow2024Ver05"]
	path = Robotics/Kachow2024Ver05
	url = https://github.com/FIRST4513/Kachow2024Ver05.git
[submodule "PhysicsMotorProject"]
	path = PhysicsMotorProject
	url = https://github.com/TheTerrarian03/PhysicsMotorProject.git
[submodule "CodePurple"]
	path = CodePurple
	url = https://github.com/TheTerrarian03/CodePurple.git
[submodule "Robotics/CircuitLib"]
	path = Robotics/CircuitLib
	url = https://github.com/FIRST4513/CircuitLib.git
